@media  (max-width: 700px)
{
     *{
          margin:0;
          
          padding:0;
     }

     body{
          background-color: rgba(5, 180, 255, 0.592);
     color: rgb(255, 255, 255);
          overflow-x: hidden;
          scroll-behavior: smooth;
     }
     #main{
          position: relative;
          height: 100vh;
          display: flex;
          justify-content: center;
          top: 15vh;
          flex-wrap: wrap-reverse;
          flex-direction: row;
     }
     header nav{
          display: none;
     }
     header p{
          font-size: 2rem;
     }
     #profile{
          position: relative;
          top: 1vh;
          background-size: cover;
          border-radius: 50%;
          height: 70vh;
          width: 80vw;
          animation: step-end;
     }
     #prof{
          position: relative;
          left: 0;
     }  
     #About{
          position: relative;
          top: 20vh;
          height: max-content;
         
          box-shadow: 1px 10px 10px 0px rgb(41, 144, 227);
          
     }
     .profil
     {
          display: none;
          
          position: absolute;
          /* height: 1px;
          width: 1px; */
     }
     .me h1{
          text-align: center;
     }
     .me{
          width: 100%;  
          position: relative; 
          font-size: 1.5rem; 
          text-align: left;
     }
     .exp{
          position: relative;
          top: 20vh;
     }
     #Experience{
          display: inline-flex;
          position: relative;
          top: 20vh;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          gap: 10vh;
          height:auto;
     }
     #Experience >div
     {
          width: 80%;
          position: relative;
          height:max-content;
          color:black;
          
          font-weight: bolder;
     }
     
     #cont{
          position: relative;
          top: 20vh;
     }
    
     footer img{
          height: 3rem;
          width: 3rem;
     
    }
    

}
